
.toggle {
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.toggle.checked {
  background-color: #D4C0B8;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #fefcf6;
  border-radius: 50%;
  transition: transform 0.3s ease;
  
}
