header {
    background-color: #D4C0B8;
    color: #fff;
    text-align: center;
    height: 10em; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
}