.rightComponent{
    float: right;
    width: 30%;
    background-color: rgb(239, 236, 236);
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    overflow: auto;
    margin-bottom: 2%;
    margin-right: 2%;
}

#review {
    font-style: italic;
    text-align: center;
    color: #828282;
}

#reviewImage {
    max-width: 100%;
    max-height: 70%;
}

#name {
    padding-top: 5%;
    color: #828282;
}