@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap');

.title {
    font-size: 1.6rem;
    color: #7a6868;;
    font-family:'Playfair Display', serif; 
    background-color:#d4c0b8;
    margin-bottom: 0px;
    padding-left: 40px;
    padding-top: 40px;
}

.link-style {
    text-decoration: none;
    color: inherit; 
    color: #828282;
    margin-left: 0px;
}

.header {
    background-color: #d4c0b8;
    text-align: center;
    height: 22em; 
    margin-bottom: 3em;
    padding-top: 10px;
    font-family: 'Playfair Display', serif;
}

.figureImage{
    align-items: start;

}



.header-caption{
    text-align: left;
    color: #5d5c5c;
    padding-left: 3rem;
    
}


.ImageP{
    margin-bottom: 0px;
    font-family: 'Lato', 'Serif';
    color: rgb(0, 0, 0);
    font-size: 0.8rem;
}

.motto{
    text-align: center;
    margin-top: 10px;
    color: #828282;
    font-family: 'Lato', serif;
    margin-bottom: 17px;
}


.h3-title {
font-size: 1.6rem;
color: #828282;
font-family:'Playfair Display', serif; 
margin-left: 0px;
text-decoration: none;
color: inherit; 
color: #828282;
margin-left: 0px;

}